/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f8;
  min-height: 100vh;
  background-size: cover;
}
.heading {
  color: #2d3a35;
  font-size: 35px;
}
.count {
  color: #c20a72;
  font-size: 35px;
}
.button-el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  cursor: point;
  outline: none;
  background-color: #007bff;
  color: #f1f5f8;
  padding: 10px;
}
